table {
    width: 100%;
}

mat-table {
    background-color: #182848;
}

.spacer {
    margin-top: 5%;
    margin-bottom: 5%;
}

.p-title {
    color: rgb(255, 255, 255);
    font-size: larger;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.container button {
    background-color: #F0F8FF; 
    color: #182848;
}

mat-form-field {
    color: aliceblue;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(255, 255, 255);
}

mat-label {
    color: aliceblue;
}

.container-button button {
    width: 100%;
    background-color: #2c3968;
    color: rgb(255, 255, 255);
}

.container-button-valid button {
    width: 100%;
    background-color: #F0F8FF;
    color: #2c3968;
}