table {
    width: 100%;
}

.spacer {
    margin-top: 5%;
    margin-bottom: 5%;
}

.p-title {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: larger;
}

.container {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

mat-form-field {
    color: aliceblue;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(255, 255, 255);
}

mat-label {
    color: aliceblue;
}

.container-button button {
    width: 100%;
    background-color: #717171;
    color: rgb(255, 255, 255);
}

.container-button-valid button {
    width: 100%;
    background-color: #ffffff;
    color: black;
}