.toolbar {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
}

.logo {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 10%;
}

.logo span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

.github-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-end;
    margin-right: 10%;
}

#github-buttons {
    background-image: linear-gradient(to right, #ECE9E6 0%, #ECE9E6  51%, #FFFFFF  100%)
}

.spacer {
    height: 8%;
}

.content {
    padding: 0 10% 0 10%;
}

/* svg#clouds {
    position: fixed;
    bottom: -160px;
    left: 0px;
    z-index: -10px;
    width: 1920px;
    height: 35%;
    opacity: 0.8;
} */