.container {
    display: flexbox;
    width: fit-content;
    background-color: #d6003d;
    background: linear-gradient(#d6003d, rgba(0, 0, 0, 0.5));
    border-radius: 10px;
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}


mat-form-field {
    color: aliceblue;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: rgb(255, 255, 255);
}

mat-label {
    color: aliceblue;
}

.container-button {
    display: flex;
    justify-content: center;
}