<!-- OBTENER PRODUCTOS -------------------------------------------------------------------------------------------------------------------------- -->
<div *ngIf="opcion[0] == '1'">
  <p style="font-weight: bold;">Tabla de productos</p>
  <mat-table [dataSource]="productos" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef>Precio</mat-header-cell>
      <mat-cell *matCellDef="let row">$ {{row.precio}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="costo">
      <mat-header-cell *matHeaderCellDef>Costo</mat-header-cell>
      <mat-cell *matCellDef="let row">$ {{row.costo}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="cantidad">
      <mat-header-cell *matHeaderCellDef>Cantidad</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.cantidad}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <br>
  <div class="container">
    <button mat-raised-button style="background-color: #D6003D;" routerLink="/">Volver</button>
  </div>
</div>

<!-- AGREGAR PRODUCTOS -------------------------------------------------------------------------------------------------------------------------- -->
<div *ngIf="opcion[0] == '2'">
  <p style="font-weight: bold;">Agregar un nuevo producto</p>
  <form class="example-form mat-elevation-z8" [formGroup]="formProductos">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill" color="accent">
            <mat-label>Nombre</mat-label>
            <input type="text" style="color: white;" matInput formControlName="nombre">
          </mat-form-field>
        </td>
      </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill" color="accent">
            <mat-label>Precio</mat-label>
            <input type="number" style="color: white;" matInput placeholder="$" formControlName="precio">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill" color="accent">
            <mat-label>Costo</mat-label>
            <input type="number" style="color: white;" matInput placeholder="$" formControlName="costo">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill" color="accent">
            <mat-label>Cantidad</mat-label>
            <input type="number" style="color: white;" matInput maxlength="5" placeholder="12" formControlName="cantidad">
            <!-- <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint> -->
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button mat-raised-button style="background-color: #27AE60; width: 99%;" (click)="addProducts()" routerLink="/">Agregar</button>
  </form>
  <div class="container">
    <button mat-raised-button style="background-color: #D6003D;" routerLink="/">Volver</button>
  </div>
</div>

<!-- ACTUALIZAR PRODUCTOS -------------------------------------------------------------------------------------------------------------------------- -->
<div *ngIf="opcion[0] == '3'">
  <p style="font-weight: bold;">Actualizar un producto</p>
  <form class="example-form mat-elevation-z8" [formGroup]="formProductos">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill" color="accent">
            <mat-label>id</mat-label>
            <input style="color: white;" type="number" matInput>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill" color="accent">
            <mat-label>Nombre</mat-label>
            <input style="color: white;" type="text" matInput formControlName="nombre">
          </mat-form-field>
          
        </td>
      </tr>
    </table>
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width" appearance="fill" color="accent">
            <mat-label>Precio</mat-label>
            <input style="color: white;" type="number" matInput placeholder="$" formControlName="precio"> 
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill" color="accent">
            <mat-label>Costo</mat-label>
            <input style="color: white;" type="number"  matInput placeholder="$" formControlName="costo">
          </mat-form-field>
        </td>
        <td>
          <mat-form-field class="example-full-width" appearance="fill" color="accent">
            <mat-label>Cantidad</mat-label>
            <input style="color: white;" type="number" matInput maxlength="5" placeholder="12" formControlName="cantidad">
            <!-- <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint> -->
          </mat-form-field>
        </td>
      </tr>
    </table>
    <button mat-raised-button style="background-color: #ffc107; width: 99%; color: black;" routerLink="/">Actualizar</button>
  </form>
  <div class="container">
    <button mat-raised-button style="background-color: #D6003D;" routerLink="/">Volver</button>
  </div>
</div>

<!-- ELIMINAR PRODUCTOS -------------------------------------------------------------------------------------------------------------------------- -->
<div *ngIf="opcion[0] == '4'">
  <p style="font-weight: bold;">Eliminar un producto</p>
  <ng-template let-productos>
    <form class="example-form mat-elevation-z8" [formGroup]="formProductos">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill" color="accent">
              <mat-label>id</mat-label>
              <input style="color: white;" type="number" matInput>
            </mat-form-field>
          </td>
        </tr>
      </table>
      <button mat-raised-button style="width: 99%; color: black;" color="warn" (click)="deleteProduct(productos.id)" routerLink="/">Eliminar</button>
    </form>
  </ng-template>
  <div class="container">
    <button mat-raised-button style="background-color: #D6003D;" routerLink="/">Volver</button>
  </div>
</div>