<!-- <p>Bienvenido!! {{username}}</p> -->
<p>Bienvenido!!</p>
<mat-card>
    <mat-card-title>Usuarios</mat-card-title>
    <mat-card-subtitle>Ingresar a usuarios</mat-card-subtitle>
    <mat-card-actions align="end">
        <button mat-button routerLink="/usuarios" [queryParams]="{op: '1'}">Obtener</button>
        <button mat-button style="color: #7cb342;" routerLink="/usuarios" [queryParams]="{op: '2'}">Agregar</button>
        <button mat-button style="color: #ffc107;" routerLink="" [queryParams]="{op: '3'}">Actualizar</button>
        <button mat-button color="warn" routerLink="">Eliminar</button>
    </mat-card-actions>
</mat-card>
<br>
<mat-card>
    <mat-card-title>Transacciones</mat-card-title>
    <mat-card-subtitle>Ingresar a transacciones</mat-card-subtitle>
    <mat-card-actions align="end">
        <button mat-button routerLink="/transacciones" [queryParams]="{op: '1'}">Obtener</button>
        <button mat-button style="color: #7cb342;" routerLink="/transacciones" [queryParams]="{op: '2'}">Nueva transacción</button>
        <button mat-button style="color: #ffc107;" routerLink="/transacciones" [queryParams]="{op: '3'}">Buscar</button>
    </mat-card-actions>
</mat-card>