/* You can add global styles to this file, and also import other style files */

html,
body { 
    height: 100%; 
    margin: 0;
    font-family: monospace;
    background-image: linear-gradient( 0deg,  rgba(39,103,187,1) 10.4%, rgba(16,72,144,1) 87.7% );
}

/* SNACK BARS COLORS  */
.back-color {
    background-color: #F0F8FF;
    color: #13274F;
}

.back-color-err {
    background-color: #e90f0f;
    color: #F0F8FF;
}
