<p style="font-weight: bold;">Tabla de clientes</p>
<mat-table [dataSource]="clientes" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.nombre}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="apellido">
        <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.apellido}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="direccion">
        <mat-header-cell *matHeaderCellDef>Dirección</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.direccion}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ciudad">
        <mat-header-cell *matHeaderCellDef>Ciudad</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.ciudad}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefono">
        <mat-header-cell *matHeaderCellDef>Teléfono</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.telefono}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<br>
<div class="container">
    <button mat-raised-button style="background-color: #D6003D;" routerLink="/">Volver</button>
</div>